name: Download Specific CoinGecko Image

on:
  workflow_dispatch:
    inputs:
      coin_id:
        description: 'CoinGecko Coin ID'
        required: true
        default:

jobs:
  download-specific-coin-image:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Checkout core repository
      uses: actions/checkout@v2
      with:
        repository: gemwalletcom/core
        path: core

    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable

    - name: Run img-downloader for specific coin
      run: cargo run --package img-downloader -- --folder ../../assets/blockchains --coin-id ${{ github.event.inputs.coin_id }}
      working-directory: core
  
    - name: Commit changes
      run: |
        git config --global user.name 'github-actions[bot]'
        git config --global user.email 'github-actions[bot]@users.noreply.github.com'
        git add ./blockchains
        git commit -m "Update CoinGecko image for coin ID: ${{ github.event.inputs.coin_id }}"
        git push